@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.Head {
  background: url(./assets/bg.jpg), 50% rgb(166, 165, 165);
  background-repeat: no-repeat;
  background-size: cover;
}

.Header {
  background: url(./assets/Ellips.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 110px;
  background-position-y: 30px;
}

.Main {
  background: url(./assets/bg_main.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
  border-radius: 0px 50px 50px 0px;
  margin-left: 8rem;
}
.btn {
  background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
}
.btn1 {
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(255, 255, 255, 0) 100%);
}
.Ellips {
  background: url(./assets/Recc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  transition: 0.7s;
}
.icon:hover {
  margin-top: -20px;
  border-radius: 50px;
  box-shadow: 0px 8px 8px 0px rgb(8, 34, 183);
}
.but {
  transition: 0.7s;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.ovelay {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.ovelay {
  background: rgb(219, 216, 214);
}
.modal-container {
  position: absolute;
  top: 40%;
  left: 50%;
  background: white;
  max-width: 600px;
  min-width: 300px;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  margin-top: 4rem;
  padding: 15px;
}
.close-modal {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 7px;
}
.texts:hover {
  color: #00c9c9;
}
.but:hover {
  box-shadow: 0px 10px 20px 0px rgb(8, 148, 183);
}
.footer_bg {
  background: url(./assets/footer_bg.png);
  background-repeat: repeat;
  background-size: cover;
  margin-top: 80px;
}
.inp[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  /* background-color: white; */
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  color: #0d4c93;
}

.inp[type="text"]:focus {
  width: 100%;
}

.menu_left {
  margin-top: 2rem;
  background: #edefef;
  width: 220px;
  height: 220px;
  border-radius: 8px;
  margin-left: -7rem;
  padding-left: 10px;
  border: 1px solid rgb(233, 228, 228);
}
li a {
  font-size: 20px;
  font-weight: 600;
  color: #0d4c93;
}

.box {
  transition: 0.7s;
}
.box:hover {
  margin-top: -20px;
  border: 2px solid rgb(5, 9, 83);
}

.fox {
  transition: 0.7s;
}
.foxs {
  transition: 0.7s;
}
.fox1:hover {
  box-shadow: 0px 8px 8px 0px rgb(15, 130, 117);
}
.fox2:hover {
  box-shadow: 0px 8px 8px 0px rgb(59, 12, 107);
}
.fox3:hover {
  box-shadow: 0px 8px 8px 0px rgb(15, 130, 117);
}
.fox4:hover {
  box-shadow: 0px 8px 8px 0px rgb(6, 114, 215);
}
.fox5:hover {
  box-shadow: 0px 8px 8px 0px rgb(10, 65, 86);
}
.fox6:hover {
  box-shadow: 0px 8px 8px 0px rgb(233, 8, 31);
}
.fox7:hover {
  box-shadow: 0px 8px 8px 0px rgb(233, 8, 34);
}
.fox:hover {
  box-shadow: 0px 8px 8px 0px rgb(8, 34, 183);
}
.bock {
  transition: 0.7s;
}
.bock:hover {
  margin-top: -20px;
  box-shadow: 0px 8px 8px 0px rgb(121, 119, 60);
}

nav a:hover,
nav a:active {
  color: #00c9c9;
}

.loGo {
  border: 1px solid rgb(243, 242, 241);
}
